@page
@model ASPracAsg.Pages.ChangePasswordModel
@{
}
<div class="col-sm-12 col-md-12 col-lg-4">
	<h1 class="mb-3">Change Password</h1>

	<form method="post">

		<div class="mb-3">
			<label class="form-label" asp-for="CPModel.OldPassword">Enter Current Password</label>
			<input type="password" asp-for="CPModel.OldPassword" class="form-control" required />
			<span asp-validaton-for="CPModel.OldPassword" class="text-danger"></span>

		</div>
		<div class="mb-3">
					<label class="form-label" asp-for="CPModel.Password">Password</label>
					<input type="password" asp-for="CPModel.Password" class="form-control" id="Password"/>
					<span asp-validaton-for="CPModel.Password" class="text-danger"></span>
					<div id="pswd_info">
						<h5 id="header">Password requirements:</h5>
						<ul>
							<li id="letter" class="fa-warning"> At least <strong>one letter</strong></li>
							<li id="capital"> At least <strong>one capital letter</strong></li>
							<li id="number"> At least <strong>one number</strong></li>
							<li id="special"> At least <strong>one special character</strong></li>
							<li id="length"> Be at least <strong>12 characters</strong></li>
							<li id="password"> Must contains at least <strong>12 characters</strong>, specials chars (#$!...) and numbers</li>
						</ul>
					</div>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="CPModel.ConfirmPassword">Confirm Password</label>
					<input type="password" asp-for="CPModel.ConfirmPassword" class="form-control" />
					<span asp-validaton-for="CPModel.ConfirmPassword" class="text-danger"></span>
				</div>

		<div class="mb-3">
			<button type="submit" class="btn btn-primary">Login</button>
		</div>
	</form>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>
		
	$(document).ready(function () {
		$("#InvalidCard").hide()

		$("#card").keyup(function () {
			var cardNo = $(this).val();
			console.log(cardNo)
			if (cardNo.toString().length == 14) {
				$("#InvalidCard").hide()
			} else {
				$("#InvalidCard").show()
			}
		})

		$("#Password").keyup(function () {

			// set password variable
			var pswd = $(this).val();

			//validate the length
			if (pswd.length < 12) {
				$('#length').show()
			} else {
				$('#length').hide()
			}

			//validate letter
			if (pswd.match(/[A-z]/)) {
				$('#letter').hide()
			} else {
				$('#letter').show()
			}

			//validate capital letter
			if (pswd.match(/[A-Z]/)) {
				$('#capital').hide()
			} else {
				$('#capital').show()
			}

			//validate number
			if (pswd.match(/\d/)) {
				$('#number').hide()
			} else {
				$('#number').show()
			}

			//validate special character
			if (pswd.match(/[!@@#$ %^&*]/)) {
				$('#special').hide()
			} else {
				$('#special').show()
			}
			if (pswd.match(/^((?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])|(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[^a-zA-Z0-9])|(?=.*?[A-Z])(?=.*?[0-9])(?=.*?[^a-zA-Z0-9])|(?=.*?[a-z])(?=.*?[0-9])(?=.*?[^a-zA-Z0-9])).{12,}$/)) {
				$("#header").hide()
				$("#password").hide()
				$("#Password").css("border-color", "green")
				$("#Password").css("box-shadow", "green")
			} else {
				$("#header").show()
				$("#password").show()
				$("#Password").css("border-color", "red")
			}

		});

	});
</script>